html {
  scroll-behavior: smooth;
}

.mt-025 {
  margin-top: 0.25lh !important;
}

.dark-muted,
.dark-muted.color-danger,
.dark-muted.color-success {
  color: #3b353e;
}

.muted,
.muted.color-danger,
.muted.color-success,
li.invalid {
  color: #534b4b;
}

.color-success {
  color: #2b9335;
}

.color-danger {
  color: #d32323;
}

/* dates */
ul.cartelera-dates {
  li.valid:is(:first-child) { /* to align dates with the other column if it has one invalid date as first el */
    padding-top: 25px;
  }
  li.invalid:has(+ li.invalid) {
    display: none;
  }
}



.cartelera-scrap-settings-columns-wrapper {
 columns: 2;
 h2 {
  /* break-before: column; */
 }
}

table.equal-width-columns tr:nth-child(odd) {
  background-color: #f9f9f9; /* Light gray for odd rows */
}

table.equal-width-columns tr:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

table.equal-width-columns tr {
  &.hidden {
    display: none;
  }

  &.comparison-success {
    background-color: #a5b8a1;
  }
  &.comparison-fail {
    background-color: #e09a83;
  }
}

.equal-width-columns tr td,
.equal-width-columns tr th {
  place-content: flex-start;
  padding: 0.25rem;
}

/* re scrap */
.col-actions {
  align-items: center;
  border: 1px solid lightblue;
  width: 50px;
  form {
    justify-content: center;
  }
}
.col-index {
  width: 20px;
  text-align: center;
}
.col-title {
  width: 100px;
}
.col-ticketmaster-dates {
  width: 150px;
}
.col-cartelera-text {
  width: 200px;
  max-width: 200px;
}
.col-cartelera-dates {
  width: 150px;
}
.col-comparison {
  width: 150px;
}

.dates-sentences,
.times-sentences {
  border: 1px solid pink;
  padding: 0.25rem 1rem 0.25rem;
  background: lightgray;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #0073aa;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}


/*
ACCORDION STYLES
*/
/* Estilos básicos */
.accordion {
  width: min-content;
  max-width: 200px;;
  input { display: none; }
}

/* Ocultamos el checkbox */
.accordion-toggle {
  display: none;
}

/* Estilo del label que actuará como botón */
.accordion-label {
  display: block;
  padding: 5px 8px;
  background: #3498db55;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.accordion-label:hover {
  background: #2980b9;
}

/* Contenido del accordion - oculto por defecto */
.accordion-content {
  max-height: 0px; /* hidden */
  overflow-y: hidden;
  overflow-x: visible;
  transition: max-height 0.3s ease-out, padding 0.3s ease;

  pre {
    display: none;;
    position: fixed;
    left: 200px;
    right: 60px;
    top: 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 15px black;
    background-color: rgba(0,0,0,0.8);
    padding: 0.5rem;
    max-height: 80vh;
    overflow: scroll;
  }
}

/* Cuando el checkbox está marcado, mostramos el contenido */
.accordion-toggle:checked ~ .accordion-content {
  overflow: visible;
  max-height: 500px; /* Ajusta este valor según tu contenido */

  pre {
    display: block;
  }
}

/* Cambiamos el color del label cuando está activo */
.accordion-toggle:checked ~ .accordion-label {
  background: #2980b9;
  border-radius: 4px 4px 0 0;
}
