.muted {
  color: #958787;
}

table.equal-width-columns tr {
  &.hidden {
    display: none;
  }
}
table.equal-width-columns tr:nth-child(odd) {
  background-color: #f9f9f9; /* Light gray for odd rows */
}

table.equal-width-columns tr:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

.equal-width-columns tr td, .equal-width-columns tr th {
  flex: 1 1 200px; /* Ensures all columns are the same width, with a minimum width of 200px */
  max-width: 300px; /* Prevents columns from becoming too wide */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */

  padding: 0.25rem;
}

.col-actions {
  align-items: center;
  border: 1px solid lightblue;
  width: 100px;
  form {
    justify-content: center;
  }
}
.col-index {
  width: 50px;
  text-align: center;
}
.col-title {
  width: 200px;
}
.col-ticketmaster-dates {
  width: 150px;
}
.col-cartelera-text {
  width: 200px
}
.col-cartelera-dates {
  width: 150px
}
.col-comparison {
  width: 150px;
}


.dates-sentences, .times-sentences {
  border: 1px solid pink;
  padding: 0.25rem 1rem 0.25rem;
  background: lightgray;
}
